.headerStyleDark{
    background-color: coral;
    cursor: pointer;
    display: block;
    align-items: center;
    text-align: center;
}

.headerStyleLight{
    background-color: lightpink;
    cursor: pointer;
    display: block;
    align-items: center;
    text-align: center;
}
